<%# app/views/members/_list.html.erb %>
<div id="filterrific_results">

  <div>
    <%= page_entries_info members %><br/><br/>
  </div>

  <div>
		<Strong>Medlemsnr - Navn - email - tilmeldte</Strong><br/>
    <% members.each do |member| %>
      <%= link_to("#{member.number} - #{member.name} - #{member.email} - #{member.registrations.count}", member_path(member), :target => "_blank") %><br/>
    <% end %>
  </div>
<%= will_paginate members %>
</div>

