<div>
	<Strong>Medlemsnr - Navn - email - tilmeldte</Strong><br/>
	<% members.each do |member| %>
		<%= link_to("#{member.number} - #{member.name} - #{member.email} - #{member.registrations.count}", member_path(member), :target => "_blank") %><br/>
	<% end %>
</div>

