<table>
	<tr>
		<th>Medlemsnr.&nbsp;</th>
		<th>Navn&nbsp;</th>
		<th>email&nbsp;</th>
	</tr>
	<% @members.each do |member| %>
		<tr>
			<td><%= member.name %>&nbsp;</td>
			<td><%= member.number %>&nbsp;</td>
			<td><%= member.email %>&nbsp;</td>
		</tr>
	<% end %>
</table>
